<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Key</th>
              <th>Value</th>
              <th>&nbsp;</th>
            </tr>
            <tr>
              <td>
                <input type="text" placeholder="search =" class="form-control input-list-search" name="id" />
              </td>
              <td>
                <input type="text" placeholder="search contain" class="form-control input-list-search" name="key" />
              </td>
              <td>
                <input type="text" placeholder="search contain" class="form-control input-list-search" name="value" />
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-list-search"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-list-search-reset"><i class="fa-solid fa-rotate-right"></i> Reset</button>
              </td>
            </tr>
          </thead>
          <tbody>
            {{#each dataList.items}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.key}}</td>
              <td>{{this.value}}</td>
              <td>
                <a href="/admin/config/{{this.id}}">
                 <i class="fa-solid fa-pen-to-square"></i> Edit</td>
                </a>
            </tr>
            {{/each}}
        </table>
      </div>
      <nav aria-label="Page navigation" class="paginatornav">
        <span>Total {{dataList.total}} items</span>
        <ul class="pagination" id="paginationnav" data-page-total="{{dataList.total}}"></ul>
      </nav>
    </div>
  </div>
</div>
